<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Check if the requested file or directory exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect all requests to index.php
    RewriteRule ^(.*)$ index.php [QSA,L]

    #cors config
    Header set Access-Control-Allow-Origin "https://scandiweb-fullstack-test-m7wd.vercel.app" 
    Header set Access-Control-Allow-Methods "POST, GET, OPTIONS" 
    Header set Access-Control-Allow-Headers "Content-Type, Authorization" 
    Header set Access-Control-Allow-Credentials "true"
</IfModule>