@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html{
    @apply font-raleway

}
p{
    @apply text-primary
}

.description h3 {
    @apply mt-6 mb-2;
    font-weight: bolder;
}

.description ul li {
    @apply my-2;
}